absl_py==2.1.0
caffe2==0.8.1
moviepy==1.0.3
numpy==1.23.5
opencv_python==4.8.1.78
opencv_python_headless==4.10.0.84
Pillow==10.4.0
setuptools==69.5.1
skimage==0.0
tensorflow==2.12.0
tensorflow_addons==0.23.0
tensorflow_probability==0.24.0
tf_nightly==2.18.0.dev20240812
thop==0.1.1.post2209072238
torch==2.1.1
torchmetrics==1.4.1
torchvision==0.16.1
tqdm==4.66.5